/* Estilização do Div de Informações da Piscina de Liquidez */
.liquidity-pool-info {
    margin: 10px 0;
    padding:2px;
    min-width: 100% !important; /* Defina a largura mínima desejada em porcentagem */
}


/* Responsividade */
@media (max-width: 768px) {
    .myHero {
        background-size: 80%;
    }

    .header-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .connect-button {
        margin: 10px 0 0 0;
        width: 100%;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin: 10px 0;
    }
}

@media (max-width: 576px) {
    .card {
        padding: 10px;
    }

    .token-chart-container {
        max-width: 100%;
    }

    .info-and-chart-container {
        flex-direction: column;
        align-items: center;
    }

    .info {
        padding-right: 0;
        margin-bottom: 10px;
    }
}

/* Estilização do Header */
header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.connect-button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
}

.connect-button:hover {
    background-color: #218838;
}

.fa-wallet {
    margin-right: 5px;
}

/* Estilização Global */
body {
    background-color: #1f2020;
    font-family: 'Honk', sans-serif;
    font-size: 18px;
    /* background: linear-gradient(to bottom, #1f2020, #bc69f2); */
    height: auto;
    overflow: auto;
}

.alert {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

/* Estilização de Links */
.list-inline-item {
    font-family: "Nanum Gothic Coding", monospace;
    font-size: 12px;
}

.list-inline-item a {
    font-family: "Nanum Gothic Coding", monospace;
    font-size: 12px;
    color: #5EB0E5;
}

/* Estilização de Navegação */
.nav {
    font-family: "Nanum Gothic Coding", monospace;
    font-size: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

nav li {
    margin: 0 10px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    border-color: #bc69f2;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: rgba(94, 176, 229, 0.3);
    border-color: #5EB0E5;
    color: #5EB0E5;
}

/* Estilização da Hero Section */
.myHero {
    min-height: 60vh;
    background-image: url("https://lh3.googleusercontent.com/pw/AP1GczMXFyzqX9WMKnnyGm5SnRqaKPEx9RjbqI3_nUrtVtIDMvkiafxpCvE23s_8ZUC7JOYom3VxhlysDs5oWip77ftWpTKVFfVdswwsknrUtUnMzs2F4dlEAZ2AREaaOl2tjTpU4du0PCuD_Fibs_YmkUOD=w1694-h953-s-no-gm?authuser=0");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

h1, h2, h3 {
    font-family: 'Honk', system-ui;
    text-wrap: balance;
    line-height: 0.8;
}

.nanum-gothic-coding-regular, .form-group, p {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-wrap: pretty;
    line-height: 1.5;
}

/* Utilizando flexbox para garantir que os cards tenham a mesma altura */
.equal-height {
    display: flex;
    flex-wrap: wrap;
}

.equal-height [class*="col-"] {
    display: flex;
    flex-direction: column;
}

.equal-height .card {
    flex: 1;
}

/* Estilização dos Cards */
.card {
    background: linear-gradient(to bottom, #1f2020, #bc69f2);
   /* background-color: #1f2020; */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-bottom: 20px;
    padding: 15px;
}

.card:hover {
    /* box-shadow: 0 0 15px rgba(181, 217, 32, 10); */
    /* transform: translateY(-10px); */
}

.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1 !important;
}

.card-title {
    font-family: 'Nanum Gothic Coding', monospace;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
    flex-shrink: 0;
    text-align: center;
}

/* Estilização de Botões */
.btn {
    font-size: 1.3rem;
    border-radius: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btn-info:hover {
    background-color: #117a8b;
    border-color: #0d5f73;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

/* Estilização de Informações */
.info {
    flex-grow: 1;
}

/* Estilização do Rodapé */
.logoRodape img {
    width: 150px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    color: #fff;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

#tokenChart {
    max-width: 100%;
}

/* Estilização de Containers */
.info-and-chart-container {
    display: flex;
    align-items: center;
}

.info {
    flex-grow: 1;
    padding-right: 20px;
}

.token-chart-container {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.legend {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.legend-item {
    margin: 0 5px;
}
